.notification {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
}

.blog-container {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

button {
    margin-left: 10px;
}
